/* Resetando margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --cor-principal: #ed9600;
    --cor-secundaria: #000080;
    --cor-fundo: #ffffc3;
    --cor-texto: #333;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    line-height: 1.6;
    padding: 20px;
}

header {
    background-color: var(--cor-principal);
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
}


.sobre-mim, .galeria {
    margin: 20px 0;
}


.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}


.sobre-mim {
    flex: 1;           
    max-width: 48%;     
}

.sobre-mim h2 {
    font-size: 1.8rem;
    color: var(--cor-principal);
    margin-bottom: 10px;
}

.sobre-mim p {
    font-size: 1rem;
    line-height: 1.5;
}


.galeria {
    flex: 1;
    max-width: 48%;
}

.galeria h2 {
    font-size: 1.8rem;
    color: var(--cor-principal);
    margin-bottom: 10px;
}

.galeria ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.galeria li {
    margin: 10px;
}


.galeria img {
    width: 300px;        
    height: 300px;       
    object-fit: cover;   
    border: 2px solid var(--cor-principal);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


footer {
    background-color: var(--cor-secundaria);
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    font-size: 1rem;
}


@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;  
        align-items: center;
    }

    .sobre-mim, .galeria {
        max-width: 100%;  
    }

    .galeria ul {
        flex-direction: column;
        align-items: center;
    }
}
